---
import Layout from "@layouts/Layout.astro";
import DashboardGrid from "@components/dashboard/DashboardGrid.astro";
---

<Layout title="Office Dashboard">
  <main class="min-h-screen bg-gray-100 dark:bg-gray-900 ">
    <DashboardGrid />
  </main>
</Layout>
