---
import Layout from "@layouts/Layout.astro";
import DashboardGrid from "@components/dashboard/DashboardGrid.astro";
---

<Layout title="Office Dashboard">
  <main class="min-h-screen">
    <DashboardGrid />
  </main>
</Layout>
