---
interface Props {
  text?: string;
}

const { text = "PLACEHOLDER ELEMENT" } = Astro.props;
---

<div 
  class="w-full h-full flex items-center justify-center relative overflow-hidden"
  style="background-image: linear-gradient(45deg, #ffffff 25%, #aaaaaa 25%, #aaaaaa 50%, #ffffff 50%, #ffffff 75%, #aaaaaa 75%, #aaaaaa 100%); background-size: 56.57px 56.57px;"
>

  <p class="text-gray-700 dark:text-gray-200 font-medium text-lg px-4 py-2 bg-gray-200 dark:bg-gray-700  rounded-lg p-4 shadow-sm">
    {text}
  </p>
</div> 